body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}

body {
  font-size: 1.2em;
}

pre code {
  background-color: grey;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.caption {
  margin: 0;
  font-size: 0.8em;
}

.picture {

}
